@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all 0.3s;
}

*::selection {
  background-color: #2563eb;
  color: white;
}

/*animations*/
@keyframes open-searchbox {
  from {
    width: 0;
  }
  to {
    width: 9rem;
  }
}
@keyframes close-searchbox {
  from {
    width: 9rem;
  }
  to {
    width: 0rem;
  }
}
@keyframes show-playicon {
  from {
    bottom: -0.25rem;
  }
  to {
    bottom: 0.25rem;
  }
}
@keyframes hide-playicon {
  from {
    bottom: 0.25rem;
  }
  to {
    bottom: -0.25rem;
  }
}

@keyframes open-queuebar {
  from {
    inset: 100% 0 0 0;
  }
  to {
    inset: 0;
  }
}
@keyframes close-queuebar {
  from {
    inset: 0;
  }
  to {
    inset: 100% 0 0 0;
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animation-open-searchbox {
  animation: open-searchbox 0.5s alternate;
}
.animation-close-searchbox {
  animation: close-searchbox 0.5s alternate;
}
.animation-show-playicon {
  animation: show-playicon 0.5s alternate;
}
.animation-hide-playicon {
  animation: hide-playicon 0.5s alternate;
}
.animation-open-queuebar {
  animation: open-queuebar 0.5s alternate;
}
.animation-close-queuebar {
  animation: close-queuebar 0.5s alternate;
}

/*styles*/

/*scrollbar*/
.scrollbar::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.5rem;
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.scrollbar.hide-scroll::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.scrollbar.app-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.scrollbar.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb !important;
}
